/*
Error: Undefined variable: "$link-color".
        on line 18 of buttons.scss

13:   margin: 0;
14:   font-family: inherit;
15:   font-size: inherit;
16:   font-weight: 500;
17:   line-height: 1.5;
18:   color: $link-color;
19:   text-decoration: none;
20:   vertical-align: baseline;
21:   cursor: pointer;
22:   background-color: $base-button-color;
23:   border-width: 0;

Backtrace:
buttons.scss:18
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/amy/.gem/ruby/2.3.0/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/Users/amy/.gem/ruby/2.3.0/bin/scss:22:in `load'
/Users/amy/.gem/ruby/2.3.0/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$link-color\".\A         on line 18 of buttons.scss\A \A 13:   margin: 0;\A 14:   font-family: inherit;\A 15:   font-size: inherit;\A 16:   font-weight: 500;\A 17:   line-height: 1.5;\A 18:   color: $link-color;\A 19:   text-decoration: none;\A 20:   vertical-align: baseline;\A 21:   cursor: pointer;\A 22:   background-color: $base-button-color;\A 23:   border-width: 0;"; }
